body {
    background-color: rgba(0, 0, 0, 0.4);
    color : white;
    margin : 20px auto;
    font-size: 30pt;
    font-family: 'Lato';
    font-weight: 300;
    width : 600px;
    text-align : center;
}

button {
    background: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Lato';
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    background: orange;
  }